.contactDetails {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.contactDetails img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contactDetails h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.contactDetails p {
    font-size: 1.1rem;
    color: #555;
    margin: 8px 0;
}

.contactDetails p strong {
    font-weight: 600;
    color: #333;
}

.contactDetails .location {
    margin-top: 20px;
    width: 100%;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: #333;
}
